/* Estilos generales de la página */
.inventory-page {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

/* Contenedor de la tabla de inventario */
.contenet-tabla {
  flex-grow: 1;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
